- hosts: backup_hosts
  become: true

  tasks:
    - name: Wait for SSH to be ready
      wait_for_connection:
        delay: 5
        timeout: 300

    - name: Update apt cache
      apt:
        update_cache: true

    - name: Install MySQL server
      apt:
        name: mysql-server
        state: present